@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700&Roboto:300");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh; }

li, ol, ul {
  padding: 0;
  display: inline-block; }

h2 {
  margin: 0;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-size: 60px;
  margin: 0; }

button {
  cursor: pointer;
  margin: 6px;
  border: 1px solid transparent;
  padding: .5rem 1rem;
  color: #37474F;
  font-size: 20px;
  background-color: #E5E5E5;
  border-radius: 5px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }
  button:focus {
    outline-color: #ffffff00;
    outline: none; }
  button:active:not(".chosen") {
    -webkit-box-shadow: 2px 2px inset;
            box-shadow: 2px 2px inset; }

.main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 100%;
  max-height: 900px;
  text-align: center; }

.section {
  width: 100%;
  padding: 10px; }

.header {
  color: #5b85b7; }

.tries, .tries-die {
  background-image: url("../images/liveHeart.png");
  background-size: 100%;
  background-repeat: no-repeat;
  z-index: 50; }

.tries-die {
  background-image: url("../images/lostHeart.png");
  -webkit-transition: background-image 2s;
  transition: background-image 2s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease; }

.letter {
  font-size: 20px;
  height: 65px;
  width: 65px;
  padding: 20px 1px 0 1px;
  margin-right: 2px;
  margin-bottom: 15px;
  color: transparent;
  background: #D2D2D2;
  border-radius: 5px; }

.space {
  width: 15px; }

.show {
  color: #000;
  background-color: #76CE82;
  -webkit-transition: background-color 2s;
  transition: background-color 2s; }

.keyrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.chosen {
  background: #445069;
  border-radius: 5px;
  font-size: 20px;
  color: #FFFFFF; }

.btn__reset {
  padding: 8px;
  margin: 50px auto;
  background: #FFFFFF;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer; }

#overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  color: #FFFFFF;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 5px; }

.title {
  color: #FFF; }

.start {
  background-color: #5b85b7; }
  .start a {
    color: #78CF82; }

.win {
  background-color: #78CF82; }
  .win a {
    color: #78CF82; }

.lose {
  background-color: #D94545; }
  .lose a {
    color: #D94545; }
/*# sourceMappingURL=styles.css.map */