doctype html
html(lang='en')
  head
    title Wheel of Success!
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='bower_components/normalize-css/normalize.css')
    link(rel='stylesheet', href='css/styles.css')
    include _favicon
  body
    header
    main
    .main-container
      #overlay.start
        h2.title Wheel of Success
        a.btn__reset Start Game
      #banner.section
        h2.header Wheel of Success
      #phrase.section
        ul
      #qwerty.section
        .keyrow
          button q
          button w
          button e
          button r
          button t
          button y
          button u
          button i
          button o
          button p
        .keyrow
          button a
          button s
          button d
          button f
          button g
          button h
          button j
          button k
          button l
        .keyrow
          button z
          button x
          button c
          button v
          button b
          button n
          button m
      #scoreboard.section
          - var n = 0
        ol
        while n < 5
          li.tries
            img(src='images/FFFFFF-0.png', height='35px', widght='30px')
          -n++

    footer
      //- jQuery
      //- script(src='bower_components/jquery/dist/jquery.js')
      //- Custom 
    script(src='script.js')